.weatherContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weatherCardContainer {
  width: 400px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  background-color: rgb(242, 250, 252);
  border-radius: 8px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(135, 135, 135, 0.805);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.header p {
  color: rgb(241, 236, 228);
}

.row {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  gap: 14px;
}
.column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#temp {
  color: green;
}
#temp_min {
  color: blue;
}
#temp_max {
  color: red;
}
.sunrise_sunset {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
