.weatherContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weatherCardContainer {
  min-width: auto;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  background: rgb(242, 250, 252);
  border-radius: 8px;
  font-weight: bolder;
}

.card {
  width: 100%;
  background-color: rgba(194, 194, 194, 0.58);
  border-radius: 8px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(135, 135, 135, 0.805);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.header p {
  color: rgb(241, 236, 228);
}

.row {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  gap: 14px;
}
.column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.sunrise_sunset {
  padding: 12px;
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  font-size: 14px;
  gap: 14px;
}
