.search {
  margin-top: 42px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.search_input {
  height: 38px;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 8px;
  box-sizing: border-box;
}
.search_input:active {
  border: 1px solid rgb(169, 232, 255);
}
.search_input:focus {
  outline: 1px solid rgb(111, 255, 217);
}
.search_input:focus::placeholder {
  color: black;
  font-weight: bolder;
}

.city_searcher {
  cursor: pointer;
}
.search_suggestion {
  top: 38px;
  padding: 30px;
  width: auto 638px;
  height: 237px;
  background-color: rgba(118, 113, 113, 0.938);
  border-radius: 8px;
  border: 1px solid rgb(123, 123, 132);
  color: antiquewhite;
  text-align: center;
}

.stroke {
  width: 112px;
  height: 7px;
  stroke: 4px solid black;
}
